.Container {
  max-width: 400px;
  min-height: 450px;
  margin: 0 auto;
  background-color: #efefef;
  box-shadow: 0 0 10px gray;
  margin-top: 30px;
  padding: 15px 50px;
}

.Text-center {
  text-align: center;
}

.Expense-container {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  box-shadow: 0 0 5px gray;
}

.Transaction-list {
  margin: 0;
  padding: 0;
}

.Transaction-list>li {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 0 4px gray;
  margin: 10px 0;
border-radius: 10px;
}

.Transation-form input {
  width: 100%;
  margin-top: 10px;
  padding: 5px 5px;
}